<main class="files">
    <h2 class="file-title"><%=locals.currentFolder.folderName%></h2>
    <div class="table-wrapper">
        <table>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>link</th>
            <th></th>
        </tr>
        <% if (locals.files) {%>
            <% files.forEach((file) => {%>
                <tr>
                    <td><%=file.fileName%></td>
                    <td><%=file.createdAt.toLocaleDateString()%></td>
                    <td><%=file.link%></td>
                    <td class="kebab-dropdown">
                        <a href="#" class="kebab">⋮</a>
                        <div class="kebab-content">
                                <button onclick="deleteFile(`<%= file.id%>`)">Delete file</button>
                                <!-- <form action="/files/<%= file.id %>/delete?_method=DELETE" method="post">
                                    <button type="submit">Delete file</button>
                                </form> -->
                                <a href="/files/<%= file.id %>/download">Download file</a>
                        </div>
                    </td>
                </tr>
            <%})%>
        <%}%>
    </table>
    </div>
</main>


<script>
    const deleteFile = (fileId) => {
        fetch(`/files/${fileId}/delete`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then((res) => {
            if (res.ok) {
                location.reload(); 
            } else {
                alert(`${fileId}`);
            }
        })
        .catch((err) => {
            console.error("Error:", err);
        });
    }
</script>