<section class="sidebar">
    <ul>
        <!-- Dropdown Menu Trigger -->
        <li class="dropdown">
            <a href="#" class="newFolder">New</a>
            <div class="dropdown-content">
                <a href="#" id="new-folder">New Folder</a>
                <a href="#" id="new-file">New File</a>
            </div>
        </li>
    </ul>
    <h2>Folders</h2>
    <ul>
        <% if (locals.folders) {%>
            <% folders.forEach((folder) => {%>
                <li class="folder-item" data-foldername=<%=folder.folderName%> data-folderid=<%= folder.id%>>
                    <a href="/dashboard/<%= folder.id %>" data-folderid=<%=folder.id%> class="folder-link <%= currentFolder && currentFolder.id === folder.id ? 'active-folder' : '' %>">
                        <%= folder.folderName %>
                    </a>
                    <div class="folder-context-menu hidden">
                        <button class="rename-folder-btn" data-folderid=<%=folder.id%> data-foldername=<%=folder.folderName%>>Rename</button>
                        <button class="delete-folder-btn">Delete</button>
                    </div>
                </li>
            <%})%>
        <%}%>
    </ul>
</section>


<!-- Hidden Modal for New Folder -->
<div id="folderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/folders" method="post" class="modal-form">
            <label for="folderName">Folder Name:</label>
            <input type="text" id="folderName" name="folderName">
            <button type="submit">Create</button>
        </form>
    </div>
</div>

<!-- Hidden Modal for Renaming folder -->
 <div id="rename-folder-modal" class="modal">
    <div class="modal-content">
        <span class="rename-close">&times;</span>
        <form action="" class="rename-modal-form">
            <label for="renameFolder">Folder Name:</label>
            <input type="text" id="renameFolder" name="renameFolder">
            <input type="hidden" id="oldFolderId" name="oldFolderId">
            <button type="submit" id="rename-submit-btn">Rename</button>
        </form>
    </div>
 </div>

<!-- Hidden File Input -->
<form id="fileUploadForm" action="/files/upload-file" method="post" enctype="multipart/form-data" style="display: none;">
    <input type="file" id="fileInput" name="fileInput" onchange="document.getElementById('fileUploadForm').submit();">
    <input type="hidden" name="folderId" value="<%= currentFolder ? currentFolder.id : '' %>">
</form>